html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
  color: #267BD4;
}

.container1 {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  justify-content: space-between;
}

.row .column p{
  color: #267BD4;
  font-weight: bold;
  font-size: 20px;
}








p {
  font-family: garamond;
}
h1 {
  max-width: 1200px;
  color: "black";
  text-align: left;
  font-family: garamond;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#rectangle1 {
    width:100px;
    height:40px;
    background:#267BD4;
    margin-bottom: 20px;
    margin-right: 10px;
}

#rectangle2 {
  width:100px;
  height:40px;
  background:#4D8ACB;
  margin-bottom: 20px;
  margin-right: 10px;
}

#rectangle3 {
  width:100px;
  height:40px;
  background:#85ACD6;
  margin-bottom: 20px;
  margin-right: 10px;
}

